body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    padding: 40px;
}

section h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Resize images in the photos section */
#photos img {
    width: 50%; /* Set the width to 50% of the container */
    height: auto; /* Maintain the aspect ratio */
}

/* Resize images in the portfolio section */
.portfolio-item img {
    width: 100%; /* Set the width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
}